* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Roboto, sans-serif;
  color: #fff;
}

form {
  max-width: 100vw;
  font-size: 62.5%;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: gray;
  border-radius: 0.1rem;
}

::-webkit-scrollbar-thumb {
  background-color: gainsboro;
}

.add-btn {
  padding: 0.5rem 1rem;
  background-color: rgba(255, 150, 0, 1);
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.add-btn:hover {
  background-color: rgba(255, 150, 0, 0.8);
}

.order-btn {
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  width: 100vw;
  padding: 0.8rem 0;
  background-color: rgb(0, 200, 0);
  color: #fff;
  outline: none;
  border: none;
  /* display: none; */
}

.buttons {
  display: flex;
  gap: 0.5rem;
}

.minus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(255, 0, 0);
  border: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  /* padding: 0.2rem 0.5rem; */
}

.minus:hover,
.minus:active {
  background-color: rgb(255, 60, 60);
}

.plus {
  background-color: rgb(0, 150, 0);
}

.plus:hover,
.plus:active {
  background-color: rgb(50, 150, 50);
}

.number-food {
  font-size: 1rem;
  color: #00aeff;
}

.list {
  width: 100%;
  /* min-height: 100vh; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 2rem;
  background-color: #000;
  padding: 0.5rem 0.3rem;
}

.food {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background-color: #000;
}

.food__info {
  display: flex;
  gap: 0.4rem;
  font-size: 0.8rem;
}

.food__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 6rem;
}

.food__img img {
  max-width: 100%;
  max-height: 6rem;
  min-height: 5rem;
}

.view-order {
  background-color: #000;
  width: 100%;
  padding: 0.8rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.view-order__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0 auto;
}

.view-order__label {
  font-size: 1.5rem;
  text-align: center;
}

.view-order__list-item {
  display: grid;
  grid-template-columns: 4rem auto;
  gap: 2rem;
}

.view-order__list-item--name {
  font-size: 0.8rem;
  font-weight: bold;
}
